.result {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.result__message-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #1d355d;
}

.result__btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result__message-img {
  width: 238px;
  height: 136px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.result__message-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1d355d;
  margin-bottom: 71px;
}

.result__message-score {
  color: #6fcf97;
  font-size: 40px;
  font-weight: 700;
}

.result__btn {
  width: fit-content;
  margin: 0 auto;
  padding: 18px 61px;
  background-color: transparent;
  border: 2px solid #1d355d;
  color: #1d355d;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  margin-bottom: 10px;
}

.result__btn:last-child {
  margin-bottom: 0;
}

.result__btn:hover {
  border: 2px solid #1d355d;
  background-color: #1d355d;
  color: #fff;
  transition: 0.3s all;
}
